.bg-image {
        background-image: url("bg.jpg");
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: overlay;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.container{
        text-align: center;
}
.bg-img-gg{
        background-image: url("github.jpg");
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: overlay;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 20px;
}